body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://images5.alphacoders.com/816/816149.jpg);
}

#nadal {
  display: inline-block;
  position: relative;
  height: 300px;
  left: 40%;
}

#main-title {
  color: blue;
}

#description-title {
  font-size: 0.9em;
  color: black;
  font-weight: 300;
  letter-spacing: inherit;
  width: 200px;
  margin-bottom: 20px;
}

.main-content {
  padding: 25px 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  height: 40%;
  width: 40%;
  box-shadow: 2px 2px 19px -5px rgba(135,135,135,1);
  display: block;
  border-radius: 5px;
}

p {
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-field {
  margin-top: 15px;
  margin-bottom: 15px;
}

p .value {
  padding: 5px 10px;
  margin: 5px;
}

.linked {
  color: blue;
  font-size: 12px;
  text-align: right;
}

div .button {
  margin-top: 20px;
  margin: 20px;
}

/*
background-color: black;
font-size: 0.8em;
letter-spacing: 0.2em;
color: white;
padding: 10px 15px;
border: none;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 10px;
width: 173px;
*/



#facebook {
  background-color: blue;
  font-size: 0.8em;
  color: white;
  padding: 10px 0px;
  border: none;
  width: 173px;
  text-align: center;
}

#google {
  background-color: #E8E8E8;
  font-size: 0.8em;
  color: black;
  padding: 10px 0px;
  border: none;
  width: 173px;
  text-align: center;
}

#current-id {
  margin-top: 20px;
}

#main-button {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  color: white;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 173px;
}
